# Emails com acesso de gestor (separados por virgula)
# Exemplo: MANAGER_EMAILS=gestor@empresa.com,coordenador@empresa.com
MANAGER_EMAILS=

# Emails com acesso de admin (separados por virgula)
# Exemplo: ADMIN_EMAILS=admin@empresa.com
ADMIN_EMAILS=
